# Exclude Betty directory
../Betty

# Set my system to the requirements standards
## Exclude personal files for avoiding repetitive command typing
*/execute
*/submit
## Starter code file contains the shebang only
starter_code

# Task 0 test files
*_world/c
*_world/main.c

# Exclude files from project 0x02-functions_nested_loops
./0x02-functions*/_putchar.c
## Exclude testing files
./0x02-functions*/[0-9]*-main.c
